materials/*.fa
materials/mapman*
experiments/recog_with_fft/results/_v0.4-exp-uniref_sampling/*

**/.*
**/_*
**/*.pickle

!.gitignore
!**/__init__.py
!experiments/recog_with_fft/results/_v0.4-exp-uniref_sampling
!experiments/recog_with_fft/results/_v0.4-exp-uniref_sampling/sample*.csv